<% 
const keys = [{type:"text", value:"first_name", placeholder:"First name"},
{type:"text", value:"last_name",placeholder:"Last name"},
{type:"email", value:"email", placeholder:"Email"},
{type:"select", value:"gender", placeholder:"Gender", options:["male", "female","others"]},
{type:"number", value:"age", placeholder:"Age", max:100, min:1},
{type:"select", value:"role", placeholder:"Role", options:["admin", "student","teacher"]}
]
const buttonClasses = "font-semibold text-white rounded-md p-2 hover:opacity-90 active:scale-90 transition-all";
 %>
<button class="<%=buttonClasses%> bg-black" id="add_user_btn">Add User</button>
<button class="<%=buttonClasses%> bg-red-500 hidden" id="delete_users_btn">Delete User(s)</button>
<dialog id="add_user_dialog" class="shadow-md rounded-md shadow-md w-full max-w-md transition border">
  <div>
    <h1 class="text-xl font-semibold">
      Add User
    </h1>
    <%- include("../components/data_entry/form", {props:{id:"addUserForm", fields:keys}}) %>
  </div>
</dialog>