<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
</head>

<body>
  <form id="login-form">
    <h1>hi</h1>
  </form>
  <script>
    const form = document.querySelector('#login-form');
    const submitForm = async (e) => {
      e.preventDefault();
      try {
        const formResponse = await axios.post("/api/auth/login", {
          email: form.email.value,
          password: form.password.value
        });
        console.log(formResponse.data);
      } catch (error) {
        console.log(error);
      }
    }
    form.addEventListener("submit", submitForm);
  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script> -->
</body>

</html>