<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
</head>
<body>
  <%- include("../partials/navbar") %>
  <form id="login-form">
    <input type="email" name="email" value="abc121@gmail.com" />
    <input type="password" name="password" value="abc12345" />
    <button type="submit">Submit</button>
  </form>
  <script>
    const form = document.querySelector('#login-form');
    const submitForm = async (e) => {
      e.preventDefault();
      try {
        const formResponse = await axios.post("/api/auth/login", {
          email: form.email.value,
          password: form.password.value
        });
        const userData = await formResponse.data;
        const cookieKey = '<%= process.env.COOKIE_KEY%>';
        document.cookie = `${cookieKey}=${userData.access_token}`
        window.location.pathname = "/dashboard";
      } catch (error) {
        console.log(error);
      }
    }
    form.addEventListener("submit", submitForm);
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</body>

</html>