<%
const variants = {"primary":"bg-indigo-600","secondary":"bg-orange-600", "default":"bg-black" } 
let baseStyle = "border p-3 rounded-xl text-white text-sm hover:bg-opacity-90";
%>

<button class="<%=baseStyle%> <%=variants[props.type]%>" type="submit"><%=props.innerText%></button>